# Application
APP_ENV=dev

# PostgreSQL Database
POSTGRES_DB=marketflow
POSTGRES_USER=marketflow
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

# RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest